<h2>Scriba, about all of us, at one time or another...</h2>

<pre>What can I say? 

Not much, I thought. 

But then, this would be a short book if that were true. 

So here I go. 

But, where to begin? 

Let's start where the alligator was about notice my big toe on my right foot. It
was about two inches away when the eyelids snapped open. 

Did you know alligators have three sets of eyelids? You see, (pun intended) they
have one set to...</pre>
